

wpGuiFont RCDATA /*if there is an error there, put the folder where the sources of the WGP are*/ "WildGoatPackage"
                                                                                                "/rc/Ubuntu.ttf"
